<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960244927640-e90b8dvcnll8bega9afhh8lb284cbl23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960244927640-e90b8dvcnll8bega9afhh8lb284cbl23</string>
	<key>API_KEY</key>
	<string>AIzaSyC8mGgyTPh51-VRZOE9uRWS-0MUjfLDb_U</string>
	<key>GCM_SENDER_ID</key>
	<string>960244927640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passVaultApp</string>
	<key>PROJECT_ID</key>
	<string>passvault-ae617</string>
	<key>STORAGE_BUCKET</key>
	<string>passvault-ae617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960244927640:ios:de9fb19deac753934a14ed</string>
	<key>DATABASE_URL</key>
	<string>https://passvault-ae617.firebaseio.com</string>
</dict>
</plist>